<div class="small-12 medium-4 columns service <%= presented_service.colour %>">
  <%= link_to presented_service.subdomain_link do %>
    <div class="content">
      <div class="service-icon">
        <%= presented_service.icon %>
      </div>

      <div class="service-name">
        <%= presented_service.name %>
      </div>
    </div>

    <%= image_tag "http://placehold.it/183x150", class: 'service-image' %>
  <% end %>
</div>
