<div class="small-12 medium-4 columns service <%= presented_service.colour %>">
  <%= link_to presented_service.link do %>
    <div class="content">
      <div class="service-icon">
        <%= image_tag "http://placehold.it/50x50" %>
      </div>

      <div class="service-name">
        <%= presented_service.name %>
      </div>
    </div>

    <%= image_tag "http://placehold.it/150", class: 'service-image' %>
  <% end %>
</div>
