<%= content_for :footer do %>
  <script>
    $(function() {
      $('.testimonials').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        autoplay: true,
        autoplaySpeed: 4000,
      });
    });
  </script>
<% end %>

<div class="separated-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="service-banner">
            <div class="service-banner-content">
              <%= render partial: "testimonials/testimonial", locals: { presented_testimonial: @presented_testimonial } %>
            </div>

            <div class="service-banner-image">
              <%= @presented_service.banner_image %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="content-box">
            <div class="<%= @presented_service.heading_classes %>">
              <h1><%= @presented_service.name %></h1>

              <%= @presented_service.overview %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% unless @presented_faqs.blank? %>
          <div class="small-12 columns">
            <div class="content-box">
              <h3 class="styled-title">Frequently Asked Questions</h3>
              <%= render partial: "frequently_asked_questions/frequently_asked_question", collection: @presented_faqs, as: :presented_faq %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
