<div class="article row">
  <div class="small-12 columns">
    <div class="content-box">
      <div class="<%= presented_article.classes %>">
        <h2><%= presented_article.linked_title %></h2>

        <%= presented_article.summary %>

        <%= presented_article.read_more %>
      </div>
      <%= presented_article.index_image_div %>
    </div>
  </div>
</div>
