<div class="article row">
  <div class="<%= presented_article.classes %>">
    <h3><%= presented_article.title %></h3>

    <%= presented_article.summary %>

    <%= presented_article.read_more %>
  </div>
  <%= presented_article.home_image_div %>
</div>