<div class="content-box">
  <div class="row">
    <div class="<%= presented_article.classes %> columns">
      <h2><%= presented_article.linked_title %></h2>

      <%= presented_article.summary(88) %>
    </div>

    <%= presented_article.home_image_div %>


    <%= link_to 'All news >', articles_path, title: 'View all news', class: 'view-all' %>
  </div>
</div>
