<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= location_presenter.id %>">

  <div class="large-9 small-8 columns" data-equalizer-watch="module-list">
    <%= location_presenter.toggle_title %>
    <%= location_presenter.services %>
  </div>



  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= location_presenter.toggle_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= location_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= location_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= location_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= location_presenter.optimadmin_summary %>
    </div>
  </div>
</div>
