<%= form_for @contact do |f| %>
  <div class="row">
    <div class="small-12 columns field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns field">
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number %>
    </div>
    <div class="small-12 medium-6 columns field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label :message %>
      <%= f.text_area :message %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Send" %>
  </div>
<% end %>