<%= render 'optimadmin/shared/header/main_title', title: 'Manage Pathway Sections' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Pathway Section', object: PathwaySection, path: new_pathway_section_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!--
      <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    -->
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @pathway_sections.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item('large-5 small-6') { 'Name' } %>
    <%= list_item("small-2"){ 'Pathway Rows' } %>
    <%= list_item("small-2"){ 'Pathway Jigsaw Pieces' } %>
    <%= list_item { 'Display' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item('large-1 hide-for-medium-down text-center last') { 'Delete' } %>
  </div>

  <%= render partial: 'pathway_section', collection: @pathway_sections, as: :pathway_section_presenter %>
</div>
