<%= content_for :footer do %>
  <script>
    $(function() {
      setTimeout(function() {
        $(document).foundation('equalizer','reflow');
      }, 2000);
    });
  </script>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
  <div class="small-12 columns">
    <%= render partial: "banners/banner", collection: @presented_banners, as: :presented_banner %>
  </div>
</div>


<section class="home services row collapse">
        <%= render partial: "services/home_service", collection: @presented_services, as: :presented_service %>
  <div class="small-12 medium-4 columns">
    <%= render "articles/home_article", presented_article: @presented_article if @presented_article %>
  </div>
</section>

<section class="separated-section lightest-grey-background" data-equalizer>
  <div class="row">
    <div class="small-12 medium-7 columns"  data-equalizer-watch>

      <div class="content-box facebook">
        <div class="fb-page"
        data-href="https://www.facebook.com/BarnsleySpecialistChildrensHealth"
        data-tabs="timeline" data-height="522" data-small-header="false"
        data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="true"
        data-width="513">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/BarnsleySpecialistChildrensHealth">
              <a href="https://www.facebook.com/BarnsleySpecialistChildrensHealth">
                Barnsley specialist children's health
              </a>
            </blockquote>
          </div>
        </div>

      </div>
    </div>

    <div class="small-12 medium-5 columns"  data-equalizer-watch>
      <%= render 'shared/twitter' %>
    </div>
  </div>
</section>
