<div class="service-title <%= @presented_service.colour %>">
  <%= link_to @presented_service.subdomain_link, class: 'toggle-class', data: { container: '.service-navigation-wrap', class: 'hide-for-small', return: 'true' } do %>
    <%= @presented_service.icon if @presented_service.icon.present? %>
    <%= @presented_service.name %>
  <% end %>

  <%= link_to '#', class: 'toggle-menu toggle-class show-for-small', data: { container: '.service-navigation-wrap', class: 'hide-for-small', return: 'true' } do %>
    MENU
  <% end %>
</div>

<nav class="hide-for-small service-navigation-wrap <%= @presented_service.colour %>">
  <ul class="top-level navigation" id="service-navigation">
    <%= nested_menu_items(menu_items: @service_menu.menu_items, menu_name: @service_menu.name) %>
  </ul>
</nav>
