<div class="service <%= @presented_service.colour %>">
  <%= @presented_service.icon %>
  <%= @presented_service.name %>
</div>

<nav class="service-navigation-wrap <%= @presented_service.colour %>">
  <ul class="top-level navigation" id="service-navigation">
    <%= nested_menu_items(menu_items: @service_menu.menu_items) %>
  </ul>
</nav>
