<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render "layouts/header" %>

    <% if flash.present? %>
    <div class="lightest-grey-background">
      <div class="row">
        <div class="small-12 columns">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "flash-message #{name}" %>
          <% end -%>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
